@inherits LayoutComponentBase

<div class="d-flex" style="height: 100vh; overflow: hidden;">
    <NavMenu />

    <div class="flex-grow-1" style="overflow-y: auto; background-color: #f8f9fa;">
        <main class="p-4">
            @Body
        </main>
    </div>
</div>