@inherits LayoutComponentBase
@inject TemaService TemaService

<RadzenLayout>
    <RadzenHeader>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween" Gap="0" class="rz-px-2" style="height: 100%;">
            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
                <RadzenSidebarToggle Click="@(() => sidebarExpandida = !sidebarExpandida)" />
            </RadzenStack>

            <RadzenButton Icon="@(TemaService.EhEscuro ? "light_mode" : "dark_mode")"
                          Variant="Variant.Text"
                          ButtonStyle="ButtonStyle.Base"
                          Click="@AlternarTemaAsync"
                          aria-label="Alternar tema claro/escuro" />
        </RadzenStack>
    </RadzenHeader>

    <RadzenSidebar @bind-Expanded="sidebarExpandida" Responsive="true">
        <NavMenu />
    </RadzenSidebar>

    <RadzenBody>
        <div class="rz-p-4">
            @Body
        </div>
    </RadzenBody>
</RadzenLayout>

@code {
    private bool sidebarExpandida = true;

    private async Task AlternarTemaAsync()
    {
        await TemaService.AlternarTemaAsync();
    }
}
